body {
  font-family: "Montserrat", sans-serif;
  display: flex;
  width: 100%;
  height: 100%;
  background: #f4f4f4;
  justify-content: center;
  align-items: center;
}
.wrapper {
  text-align: center;
}
.input-group {
  color: blue;
}

.input-box {
  margin: 10px;
  display: block;
  margin-bottom: 10px;
  color: #b4b4b4;
}

.radio {
}
button {
  height: 30px;
  width: 100px;
  letter-spacing: 1px;
  border: none;
  border-radius: 23px;
  color: white;
  background: #b4b4b4;
}
